.green {
  color: green;
}
.red {
  color: red;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;

  th,
  td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  .endpoint {
    color: rgb(24, 123, 138);
  }

  th {
    background-color: #f2f2f2;
  }

  td {
    vertical-align: top;
  }
}
