.home-container {
  background-image: url("../../assets/img/banner-bg-img.jpg"),
    url("../../assets//img/pricing-plan-bg-img.jpg");
  background-repeat: no-repeat, no-repeat; /* Ensure both images don't repeat */
  /* Position the first image on the left, and the second image on the right */
  background-position: left center, right center;
  /* Adjust sizes: 50% for each image to fit side-by-side across the 100% width */
  background-size: 0% auto, 100% auto;
  margin: 0px;
  min-height: 100vh;

  p {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 10px;
    font-weight: 600;
    color: white;
  }

  .help-btn {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
    align-items: center;

    span {
      font-size: 1.1rem;
      color: white;
      margin-right: 10px;

      i {
        cursor: pointer;
        text-decoration: underline;
      }
    }

    button {
      background: transparent;
      border: none;
      outline: none;
      color: aqua;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }

  @keyframes colorChange {
    0% {
      color: #2777fc;
    }

    50% {
      color: #2777fc;
    }

    100% {
      color: #2777fc;
    }
  }

  .animated-text {
    animation: colorChange 3s infinite linear;
  }
}

@media screen and (max-width: 768px) {
  .home-container {
    .heading1 {
      font-size: 1.5rem;
      padding-top: 60px;
    }

    .heading2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 1rem;
    }

    .help-btn {
      width: 100%;
    }
  }
}
