$backgroundWhite: white;
$backgroundlight: #edf7fd;
$textColorPrimary: rgba(43, 42, 42, 0.877);
$textColorHover: #4da6eb;
h1 {
  color: $textColorPrimary;
  font-weight: 500;
}

p {
  font-weight: 500;
  font-size: 1rem;
}
.desc {
  font-size: 0.8rem;
  text-transform: capitalize;
  color: $textColorPrimary;
}
.icons {
  font-size: 2rem;
  background-color: #b3dcfc;
  color: rgb(255, 255, 255);
  padding: 14px;
  position: absolute;
  top: 9%;
  left: 0%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-container {
  width: 100%;
  .starting-row {
    background-color: #edf7fd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3px 15px;
    border-radius: 4px;
    p {
      font-size: 1.2rem;
      span {
        font-style: italic;
        font-weight: 400;
        color: #ffa600;
      }
    }
  }
  .first-row {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #b3dcfc;
    padding-bottom: 15px;
    text-align: center;
    .columns {
      width: 25%;
      .inner-box {
        position: relative;
        width: 100%;
      }
    }
  }
  .second-row {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px auto;
    .col-box {
      width: 29%;
      text-align: left;
      min-height: 20vh;
      background-color: #edf7fd;
      border-radius: 8px;

      .inner-box {
        position: relative;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        .icons {
          background: transparent;
          color: $textColorHover;
        }
        p {
          color: $textColorHover;
          font-size: 1rem;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .profile-container {
    width: 100%;
    .starting-row {
      flex-direction: column;
      width: 100%;
      p {
        width: 100%;
        span {
          font-style: italic;
          font-weight: 400;
          color: #ffa600;
        }
      }
    }
    .first-row {
      flex-direction: column;
      width: 100%;
      .columns {
        width: 98%;
      }
    }
    .second-row {
      flex-direction: column;

      .col-box {
        width: 98%;

        .inner-box {
          flex-direction: column;
          width: 98%;
          .icons {
            background: transparent;
            color: $textColorHover;
          }
          p {
            color: $textColorHover;
            font-size: 1rem;
          }
        }
      }
    }
  }
}
