@import "../../common";

.target-category-container {
  margin: 0px auto 20px auto;
  text-align: center;
  position: relative;

  .container-home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px 20px;
    min-height: 90vh;
    .left-text {
      width: 50%;
      .heading1 {
        font-size: 2.5rem;
        text-align: left;
        font-weight: 500;
        color: black;
        padding: 40px 0px;
        margin-top: 40px;
      }

      .heading2 {
        text-align: left;
        font-size: 3.6rem;
        font-weight: 900;
      }
      p {
        font-size: 1.2rem;
        padding: 20px 0px;
        color: rgb(0, 0, 0);
        margin: 20px 0px 0px 0px;
        text-align: left;
        span {
          color: #2777fc;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .right-img {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        padding-top: 80px;
      }
    }
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    background: rgb(89, 111, 254);
    padding: 20px 30px;
    border-radius: 12px;
    max-width: 600px;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;

    h3 {
      color: white;
      text-align: left;
    }

    p {
      font-weight: 400;
      text-align: left;
    }
    .copy-text {
      position: absolute;
      right: 5%;
      bottom: 4%;
      font-size: 1.8rem;
      background: transparent;
      border: none;
      outline: none;
      padding: 0px;
      color: rgb(224, 221, 221);
      cursor: pointer;
      &:focus {
        color: rgb(0, 0, 0);
      }
    }
  }

  .close-btn {
    margin-top: 20px;
    padding: 0px;
    background: transparent;
    color: rgb(255, 149, 149);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 15px;
    font-size: 2.6rem;
    width: fit-content;
  }

  .prompt-button {
    padding: 10px 20px;
    background-color: #2ed573;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  span {
    font-size: 1.1rem;
    font-weight: bold;
    color: $primary-white;
  }

  form {
    position: absolute;
    top: 100%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: 0px auto;
    display: flex;

    justify-content: space-around;
    align-items: center;

    width: 94%;
    .user-req-input-container {
      width: 80%;
      margin: 0px auto;

      textarea {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 12px 24px;
        height: 10vh;
        border: none;
        outline: none;
        border-radius: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        color: black;
        resize: none;
        background-color: rgb(255, 248, 248);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
      }
    }
    .btn-operation {
      button {
        font-size: 2rem;
        width: 55px;
        height: 55px;
        border-radius: 50%;
        border: none;
        outline: none;
        background-color: #2777fc;
        color: white;
        margin: 0px 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .target-category-container {
    .user-req-input-container {
      textarea {
        min-height: auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .target-category-container {
    .user-req-input-container {
      textarea {
        min-height: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .target-category-container {
    .user-req-input-container {
      width: 98%;

      textarea {
        min-height: 20vh;
      }
    }

    form {
      // display: flex;
      .category-boxes {
        display: flex;
        justify-content: center;
        flex-direction: column;

        .category-box {
          width: 90%;
          margin: 10px auto;
          text-align: left;
          position: relative;

          input {
            position: absolute;
            right: 0px;
          }
        }
      }
    }

    .popup-overlay {
      margin-top: 120px;

      .popup-content {
        width: 95%;

        p {
          width: 100%;
        }
      }
    }
  }
}
