.target-category-container {
  margin: 0px auto 20px auto;
  text-align: center;
  position: relative;
  ::-webkit-scrollbar {
    font-size: 0px;
  }

  .container-home-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    padding: 0px 20px;
    min-height: 90vh;
    .left-text {
      width: 50%;
      .heading1 {
        font-size: 2.5rem;
        text-align: left;
        font-weight: 500;
        color: black;
        padding: 40px 0px;
        margin-top: 40px;
      }

      .heading2 {
        text-align: left;
        font-size: 3.6rem;
        font-weight: 900;
      }
      p {
        font-size: 1.2rem;
        padding: 20px 0px;
        color: rgb(0, 0, 0);
        margin: 20px 0px 0px 0px;
        text-align: left;
        span {
          color: #2777fc;
          text-decoration: underline;
          cursor: pointer;
        }
      }
    }
    .right-img {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        width: 70%;
        padding-top: 80px;
      }
    }
  }
  .popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .popup-content {
    background: rgb(89, 111, 254);
    padding: 20px 30px;
    border-radius: 12px;
    max-width: 600px;
    line-height: 1.4;
    width: 90%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;

    h3 {
      color: rgb(255, 255, 255);
      font-weight: 800;
      font-family: sans-serif;
      text-align: left;
    }

    p {
      font-weight: 400;
      text-align: left;
    }
    .copy-text {
      position: absolute;
      right: 5%;
      bottom: 4%;
      font-size: 1.8rem;
      background: transparent;
      border: none;
      outline: none;
      padding: 0px;
      color: rgb(224, 221, 221);
      cursor: pointer;
      &:focus {
        color: rgb(0, 0, 0);
      }
    }
  }

  .close-btn {
    margin-top: 20px;
    padding: 0px;
    background: transparent;
    color: rgb(255, 149, 149);
    border: none;
    cursor: pointer;
    position: absolute;
    top: 0%;
    right: 15px;
    font-size: 2.6rem;
    width: fit-content;
  }

  .prompt-button {
    padding: 10px 20px;
    background-color: #2ed573;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }

  span {
    font-size: 1.1rem;
    font-weight: bold;
    color: white;
  }

  form {
    position: absolute;
    top: 100%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 94%;
    .user-req-input-container {
      width: 100%;
      margin: 0px auto;
      position: relative;

      textarea {
        position: absolute;
        /* Fix the bottom edge */
        bottom: 0;
        /* Fix the side edges */
        left: 0;
        right: 0;
        width: 100%;
        padding: 12px 124px 12px 24px;
        max-height: 12em;
        resize: none;
        height: 9.5vh;
        overflow-y: auto;
        border: none;
        outline: none;
        border-radius: 35px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        font-size: 1.1rem;
        color: black;

        background-color: rgb(255, 248, 248);
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
      }
    }
    .btn-operation {
      position: absolute;
      /* Fix the bottom edge */
      bottom: 4px;
      /* Fix the side edges */
      right: 0px;
      button {
        font-size: 2rem;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: none;
        flex-shrink: 0;
        outline: none;
        background-color: #2777fc;
        color: white;
        margin: 0px 5px;
        cursor: pointer;
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .target-category-container {
    .user-req-input-container {
      textarea {
        min-height: auto;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .target-category-container {
    .user-req-input-container {
      textarea {
        min-height: auto;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 0px;
  }
  .target-category-container {
    .user-req-input-container {
      width: 98%;

      textarea {
        min-height: 20vh;
      }
    }
    .container-home-page {
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
        url("../../assets/img/robot.png");
      background-position: right;
      background-size: cover;
      background-repeat: no-repeat;
      min-height: 100vh;
      align-items: start;
      width: 100%;
      .left-text {
        width: 100%;
        .heading1 {
          width: 100%;
          // display: none;
          margin-top: 60px;
          font-size: 1.5rem;
        }
        .heading2 {
          // display: none;
          // font-size: 2rem;
          color: white !important;
        }
        P {
          display: none;
        }
      }
      .right-img {
        display: none;
      }
    }

    form {
      top: 80%;
      width: 95%;
      .user-req-input-container {
        width: 90%;
        margin: 0px auto;

        textarea {
          padding: 18px 24px;
          min-height: 4vh;
          height: 6.5vh;
        }
      }
      .btn-operation {
        position: relative;
        bottom: 30px;
        right: 0px;
        button {
          font-size: 2rem;
          margin: 0px;
        }
        .reset {
          display: none;
        }
      }
    }

    .popup-overlay {
      margin-top: 120px;

      .popup-content {
        width: 95%;

        p {
          width: 100%;
        }
      }
    }
  }
}
