.requirements-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  padding: 2rem;
  padding-top: 130px;

  .requirements-column {
    flex: 1 1 45%;
    background: transparent;
    border-radius: 4px;
    padding: 1.5rem;
    box-shadow: 0px 0px 3px #8f5c1f;

    h2 {
      margin-bottom: 1rem;
      font-size: 1.4rem;
      color: white;
      border-bottom: 2px solid #8f5c1f;
      padding-bottom: 0.5rem;
    }

    .requirement {
      background: transparent;
      padding: 1rem;
      margin-bottom: 0.75rem;
      border-left: 6px solid #8f5c1f;
      border-bottom: 1px solid #8f5c1f;
      border-radius: 6px;
      font-size: 0.95rem;
      color: white;

      strong {
        display: block;
        margin-bottom: 0.3rem;
        font-weight: 600;
        color: #222;
      }
    }
  }

  // Responsive Design
  @media (max-width: 768px) {
    flex-direction: column;
    padding: 130px 0.8rem;
    .requirements-column {
      flex: 1 1 100%;
    }
  }
}

.buttons-operation-nex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 5px auto;
  button {
    border-radius: 0.285rem; /* rounded-md */
    border: 1px solid #5c33ff;

    span {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      margin-right: 10px;
      font-size: 1.1rem;
    }
  }
}
@media screen and (max-width: 768px) {
  .buttons-operation-nex {
    width: 100%;
    button {
      font-size: 1rem;
      width: fit-content;

      span {
        font-size: 1rem;
      }
    }
  }
}
